<form class="form-inline" [formGroup]="browserForm">
  <label class="sr-only" for="inlineFormInput">URL</label>
  <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0 url-field" placeholder="Enter Url Here" formControlName="enteredUrl">

  <button type="submit"  class="btn btn-primary btn-long" [disabled]="browserForm.invalid" (click)="submitUrl()">Submit</button>
</form>
<div id="virtual-browser">
  <div *ngIf="isLoading" class="loading-gif" style="margin-top:150px;"></div>
  <div *ngIf="submittedArticle == null && !isLoading">Please enter a URL and hit submit</div>
  
  <div *ngIf="submittedArticle != null">
    <div class="html-container" [innerHtml]="submittedArticle.html">
    </div>
    <div class="actions">
      <div class="container">
        <div class="row">
          <div class="col-md-offset-5 col-md-2">
            <button type="button" class="btn btn-lg btn-success" (click)="approveArticle()">Approve</button>
          </div>
          <div class="col-md-2">
            <button type="button" class="btn btn-lg btn-warning" (click)="rejectArticle()">Reject</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
