<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>NewsAnalysis</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="@routes.Assets.versioned("favicon.ico")">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">  
   <link href="@routes.Assets.versioned("styles.bundle.css")" rel="stylesheet"/>
</head>
<body>
  <fn-root>Loading...</fn-root>
<script type="text/javascript" src="@routes.Assets.versioned("inline.bundle.js")"></script>
<script type="text/javascript" src="@routes.Assets.versioned("vendor.bundle.js")"></script>
<script type="text/javascript" src="@routes.Assets.versioned("main.bundle.js")"></script>
</body>
</html>